*{
    padding: 0 ;
    margin: 0 auto;
    box-sizing: border-box;

}


body{
    background: rgb(2,0,36);
    background: linear-gradient(355deg, rgba(2,0,36,1) 0%, rgba(9,121,117,0.6712885837928921) 35%, rgba(0,212,255,1) 100%);
    font-family: "Oswald", sans-serif;
    width: 1000px;
    color: #020202;


}

.container {
    width: 90%;

}

.navegacion-principal {
    display: flex;   
    margin-top: 10px;

}


.navegacion-principal__marca {
    justify-content: flex-start;
    width: 5%;
    
}

.navegacion-principal__menu {
    display: flex;
    flex-direction: row;
    align-content: center;
    list-style: none;
    margin : 20px;
    gap: 30px;
    
}

.navegacion-principal__menu li{
    list-style: none;
    
    
}

.navegacion-principal__menu a{
    color: #020202;
    text-decoration: none;
    
}

.navegacion-principal__menu a:hover{
    
    text-decoration: none;
}

.navegacion-principal__menu-derecha {
    list-style: none;
    margin-top: 10px;
    gap: 10px;

}
.fa-search {
    color: rgb(2,0,36);

}
.fa-search:hover {
    color: #e9c914;

}
.cabecera{

    display: grid;
    grid-template-columns: 1fr;
    color: beige; 
    
}

.cabeceraimagen{
    width: 94%;
    background-image: url('https://github.com/Marcelo89890/Proyecto1-2024/blob/main/showcase.jpg?raw=true');
    text-align: center;
    background-size: cover;
    margin: 30px;
    padding: 25px;
    background-position: center;
}

.cabeceraimagen  p {
    margin-bottom: 15px;
}

.boton{
    margin-top: 10px;
    margin-bottom: 15px;
    text-decoration: none;
    color: #020202;
    
    background-color: grey;
    border-radius: 5px;
    border: solid aqua;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.boton:hover {
    color: #e9c914;

}

.tarjetas-noticias {
    display: flex;
    flex-direction: row;
    margin: 30px;
    gap: 20px;
    text-align: center;
    

}

.tarjetas-noticias__tarjeta {
    justify-content: space-around;

    

}

.tarjetas-noticias__tarjeta img {
    width: 100%;
    height: 150px;
}

.tarjetas-noticias a {
    align-content: center ;
    text-decoration: none;
    Color: #020202;
    
}


.banner-tarjetas-uno__contenido {
    display: grid;
    grid-template-columns: 1fr;
    width: 94%;
    text-align: center;
    background-size: cover;
    margin: 30px;
    padding: 45px;
    background-position: center;
    background-image: url('https://github.com/Marcelo89890/Proyecto1-2024/blob/main/tech-red.jpg?raw=true');
    color: beige;
}

.tarjetasdos img{
    width: 100%;
    height: 200px;
    position: center;

}

.banner-tarjetas-uno__contenido p{
    margin-bottom: 15px;

}

.boton{
    margin-top: 10px;
    margin-bottom: 15px;
    text-decoration: none;
    color: #020202;
    
    background-color: grey;
    border-radius: 5px;
    border: solid aqua;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.boton:hover {
    color: #e9c914;

}



.banner-tarjetas-dos__contenido {
    display: grid;
    grid-template-columns: 1fr;
    width: 94%;
    text-align: center;
    background-size: cover;
    margin: 30px;
    padding: 45px;
    background-position: center;
    background-image: url('https://github.com/Marcelo89890/Proyecto1-2024/blob/main/Image-five.jpg?raw=true');
    color: beige;

}

.banner-tarjetas-dos__contenido p{
    margin-bottom: 15px;

}

.boton{
    margin-top: 10px;
    margin-bottom: 15px;
    text-decoration: none;
    color: #020202;
    
    background-color: grey;
    border-radius: 5px;
    border: solid aqua;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.boton:hover {
    color: #e9c914;

}


.social {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: center;
    color: #00d4ff;


}
.social__enlaces  {
    margin: 20px 20px;
    

}


.fab {
    color: #00d4ff;
    
}

.enlaces-pie {
    background-color: grey;
    width: 94%;
}

.enlaces-pie__contenedor {
    display: flex;
    
}
.enlaces-pie__lista {

    list-style: none;
    margin-top: 20px;
    margin-bottom: 20px;
}

.enlaces-pie__lista h3 {
    margin-bottom: 10px; 

}
.enlaces-pie__lista a {
    color: black;
    text-decoration: none;
    font-size: small;
}

.enlaces-pie__lista a:hover {
    color:  #e9c914;

}

.pie {
    display: grid;
    background-color: grey;
    color: #00d4ff;
    text-align: center;
    width: 94%;
    margin-bottom:20px;
    padding: 10px;
    font-size: small;
}
